/* Importing Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    /* Colors */
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #3b141c;
    --secondary-color: #f3961c;
    --light-pink-color: #faf4f5;
    --medium-gray-color: #ccc;

    /* Font size */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* Font weight */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /* Site max width */
    --site-max-width: 1300px; 

}


    /* Styling for whole site */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

.section-content {
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 20px;
}

.section-title {
    text-align: center;
    padding: 60px 0 80px;
    text-transform: uppercase;
    font-size: var(--font-size-xl);
}

.section-title::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    background: var(--secondary-color);
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
}


    /* Navbar styling */
header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: var(--primary-color);
}

.logo-image {
  width: 146px;
  height: 146px;
  border-radius: 20%;
  overflow: hidden;
  margin-top: -26px;
  margin-bottom: -20px;
}   

header .navbar {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    font-size: var(--font-size-m);
    color: var(--white-color);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    font-size: 7;
}

    .navbar :where(#menu-close-button, #menu-open-button) {
        display: none;
    }


    /* Hero section Styling */
.hero-section {
    min-height: 100vh;
    background-image: url(./landscape.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    justify-content: space-between;
}

.hero-details {
    color: var(--primary-color);
    font-size: var(--font-size-m);
    font-family: "Miniver", sans-serif;
}

.hero-section .title {
    color: var(--secondary-color);
    font-family: "Miniver";
    font-size: var(--font-size-xxl);
}

.hero-section .description {
    font-size: var(--font-size-m);
    margin: 24px 0 40px;
    font-size: var(--font-size-m); 
    max-width: 70%;
}

.hero-section .hero-details .subtitle {
    margin-top: 8px;
    max-width: 70%;
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xl);
}


.hero-section .hero-details .buttons {
    display: flex;
    gap: 23px;
}

.hero-section .hero-details .register-now:hover {
    color: whitesmoke;
    transform: scale(1.1)
}

.hero-section .hero-details .contact-us:hover {
    color: var(--white-color);   
    background: var(--secondary-color);
    transform: scale(1.13);
    border: transparent;
}

.hero-section .hero-details .register-now {
    padding: 10px 26px;
    background: var(--secondary-color);
    border-radius: var(--border-radius-m);
    font-weight: var(--font-weight-medium);
    color: var(--primary-color);
    border: 2px solid transparent;
}

.hero-section .hero-details .contact-us {
    padding: 10px 26px;
    background: transparent;
    border-radius: var(--border-radius-m);
    font-weight: var(--font-weight-medium);
    color: var(--primary-color);
    border: 2px solid;
}

/* About Section Styling */
.about-section {
    padding: 30px;
    background: var(--light-pink-color);
}

.about-section .section-content {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.about-section .about-image-wrapper .about-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
}

.about-section .about-details {
    max-width: 100%;
}

.about-section .about-details .text {
    line-height: 30px;
    margin: 30px 0 30px;
    text-align: center;
    font-size: var(--font-size-m);
}

.about-section .social-link-list {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.about-section .social-link-list .social-link {
    color: var(--primary-color);
    font-size: var(--font-size-l);
    transition: 0.2s ease;
}

.about-section .social-link-list .social-link:hover {
    color: var(--secondary-color);  
    transform: scale(1.25)
}

/* Event Section Styling */


.event-section .event-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
} 


.event-section .event-list .event-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.event-section .event-list .event-item .event-image {
    max-width: 83%;
}

.event-section .event-list .text {
    line-height: 20px;
    margin: 30px 0 30px;
    text-align: center;
    font-size: var(--font-size-m);
}

/* Reason Section Styling */

.reason-section {
    padding: 30px;
    background: var(--light-pink-color);
}

.reason-section .section-content {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.reason-section .reason-image-wrapper .reason-image {
    width: 500px;
    height: 400px;
    object-fit: contain;
    border-radius: var(--border-radius-m)
}


.reason-section .reason-details {
    max-width: 100%;
}

.reason-section .reason-details .text {
    line-height: 30px;
    margin: 30px 0 30px;
    text-align: center;
    font-size: var(--font-size-m);
}

.reason-section .social-link-list {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.reason-section .social-link-list .social-link {
    color: var(--primary-color);
    font-size: var(--font-size-l);
    transition: 0.2s ease;
}

.reason-section .social-link-list .social-link:hover {
    color: var(--secondary-color);  
    transform: scale(1.25)
}


/* Gallery Section Styling */

.gallery-section {
    padding: 50px 0 100px;
}

.gallery-section .gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.gallery-section .gallery-list .gallery-item {
    width: calc(100% / 3 - 32px);
    border-radius: var(--border-radius-s);
    overflow: hidden;
}

.gallery-section .gallery-item .gallery-image {
    width: 100%;
    height: 100%;
    transition: 0.8 ease;
}

.gallery-section .gallery-item:hover .gallery-image {
    transform: scale(1.1);
}

/* Contact Section Styling */

.contact-section {
    background: var(--light-pink-color);
    padding: 50px 0 100px;
}

.contact-section .section-content {
    display: flex;
    gap: 48px;
    align-items: flex-start;
    justify-content: space-between;
}

.contact-section .contact-info-list .contact-info {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    align-items: center;
}

.contact-section .contact-info-list .contact-info i {
    font-size: var(--font-size-m);
   
}

.contact-section .contact-form .form-input {
    width: 100%; 
    height: 50px;
    background: var(--white-color);
    border: 1px solid var(--medium-gray-color);
    border-radius: var(--border-radius-s);
    padding: 0 12px;
    margin-bottom: 16px;
    outline: none;
}

.contact-section .contact-form .submit-button {
    background: var(--primary-color);
    padding: 10px 26px;
    color: var(--white-color);
    border-radius: var(--border-radius-m);
    font-weight: var(--font-weight-medium);
    border: 1px solid var(--primary-color);
}

.contact-section .contact-form .submit-button:hover {
    background: transparent;
    color: var(--primary-color)
}


/* Footer Section Styling */

.footer-section {
    background: var(--dark-color);
    padding: 20px 0;
}

.footer-section .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-section .social-link-list {
    display: flex;
    gap: 25px;
}

.footer-section .social-link-list .social-link {
    font-size: var(--font-size-l);
}

.footer-section .social-link-list .social-link:hover {
    color: var(--secondary-color);
    transform: scale(1.3);
} 

.footer-section :where(.copyright-text, .social-link, .policy-link) {
    color: var(--white-color);
}

.contact-section .contact-form .form-input:focus {
    border-color: var(--secondary-color);
}

.contact-section .contact-form textarea.form-input {
    height: 100px;
    padding: 12px;
    resize: vertical;
}




@media screen and (max-width:1024px) {

}

@media screen and (max-width:900px) {
    :root {
    --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;        
    }   

    body.show-mobile-menu header::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.2);
    }

    .navbar :where(#menu-close-button, #menu-open-button) {
        font-size: var(--font-size-l);
        display: block;
    }

    .logo-image {
         justify-content: center;
    }

    .navbar #menu-close-button {
        position: absolute;
        right: 30px;
        top: 30px;

    }

    .navbar #menu-open-button  {
        color: var(--white-color);

    }  

    .navbar .nav-menu {
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        height: 100%;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background: var(--white-color);
        transition: left 0.2s ease;
    }

    body.show-mobile-menu .navbar .nav-menu {
        left: 0;
    }
    .navbar .nav-menu .nav-link {
        color: var(--dark-color);
        font-size: var(--font-size-l);
        display: block;
        margin-top: 17px;
    }

    .hero-section .section-content {
        gap: 50px;
        text-align: center;
        padding: 30px 20px 20px;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .hero-section .hero-image-wrapper {
        max-width: 270px;
        margin-right: 0;

    }

    .hero-section .hero-details :is(.subtitle, .description), 
    .about-section .about-details, .reason-section .reason-details {
        max-width: 100%;
    }

    .hero-section .hero-details .buttons {
        justify-content: center;
    }

    .about-section .section-content {
        gap: 10px;
        flex-direction: column;
    }

    .about-section .section-content .about-details .text {
        line-height: 30px;
        margin-top: 10px;
    }

    .about-section .about-image-wrapper .about-image {
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;
    }

    .reason-section .section-content {
        gap: 10px;
        flex-direction: column;
    }

    .reason-section .section-content .reason-details .text {
        line-height: 30px;
        line-height: 20px;
        margin: 30px 0 30px;
        text-align: center;
        font-size: var(--font-size-m);
    }

    .reason-section .reason-image-wrapper .reason-image {
        width: 100%;
        height: 100%;
        max-width: 400px;
        aspect-ratio: 1;
    }

    .gallery-section .gallery-list .gallery-item {
        width: calc(100% / 2 - 30px);
    }
}

@media screen and (max-width:640px) {
    .gallery-section .gallery-list .gallery-item {
        width: 100%;
    }
}

/* 

.hero-section .hero-image-wrapper {
    max-width: 500px;
    margin-right: 30px;
} 

*/
